---
import Layout from "../../layout/default.astro"
import {getEntry} from "astro:content";

let championship = (await getEntry("championship", "championship")).data;
---

<Layout title="Πρωτάθλημα">
  {championship.teams[2]}
    <div>
        <table class="w-full text-2xl font-semibold text-sky-100">
          <tr class="h-20">
            <th>  </th>
            <th> Ομάδα </th>
            <th> Βαθμοί </th>
            <th> Γκολ </th>
            <th> Νίκες </th>
            <th> Ισοπαλίες </th>
            <th> Ήττες </th>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/mpam-logo.png" height="100px" width="auto"> </td>
            <td> ΜΠΑ.Μ.</td>
            <td> 31 </td>
            <td> 44 - 8 </td>
            <td> 10 </td>
            <td> 1 </td>
            <td> 1 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Αναγέννηση Νέων Επιβατών </td>
            <td> 31 </td>
            <td>35-13</td>
            <td>10</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Ατρόμητος Τριαδρίου</td>
            <td> 30 </td>
            <td> 43-16 </td>
            <td> 10 </td>
            <td> 0 </td>
            <td> 2 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Μ.Αλέξανδρος Θεσσαλονίκης </td>
            <td> 25 </td>
            <td> 37-16 </td>
            <td> 8 </td>
            <td> 1 </td>
            <td> 3 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Αστέρας Ραιδεστού </td>
            <td> 25 </td>
            <td> 26-11 </td>
            <td> 8 </td>
            <td> 1 </td>
            <td> 3 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Σκίουροι </td>
            <td> 21 </td>
            <td> 28-16 </td>
            <td> 7 </td>
            <td> 0 </td>
            <td> 5 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> ΑΕ Κρήνης </td>
            <td> 20 </td>
            <td> 26-14 </td>
            <td> 6 </td>
            <td> 2 </td>
            <td> 4 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Ατρόμητος Πλαγιαρίου </td>
            <td> 16 </td>
            <td> 20 - 28 </td>
            <td> 5 </td>
            <td> 1 </td>
            <td> 6 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Αργοναύτης Καλαμαριάς </td>
            <td> 10 </td>
            <td> 15-24 </td>
            <td> 3 </td>
            <td> 1 </td>
            <td> 8 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Αριστοτέλης </td>
            <td> 10 </td>
            <td> 18-50 </td>
            <td> 2 </td>
            <td> 1 </td>
            <td> 9 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Ιταλική Ακαδημία </td>
            <td> 4 </td>
            <td> 13-30 </td>
            <td> 0 </td>
            <td> 4 </td>
            <td> 8 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Κεραυνός Μονοπηγάδου </td>
            <td> 4 </td>
            <td> 11-46 </td>
            <td>  1 </td>
            <td> 1 </td>
            <td> 10 </td>
          </tr>
          <tr class="h-20">
            <td> <img src="/media/" height="100px" width="auto"> </td>
            <td> Ατρόμητος Αγ.Αντωνίου </td>
            <td> 2 </td>
            <td> 10-52 </td>
            <td>  0 </td>
            <td> 2 </td>
            <td> 10 </td>
          </tr>
        </table>
  </div>
<style>
  td {
    text-align: center;
    border-top: 3px solid;
    border-color: rgb(123, 170, 252);
  }
</style>
</Layout>