---
import Layout from "../../layout/default.astro"
---

<Layout title="Προγράμματα">
	<div class="flex flex-row justify-evenly items-center">

        <div class="w-[30vw] bg-emerald-500 rounded-xl m-3">
            <div class="w-[30vw] text-2xl text-center font-semibold text-emerald-900 p-2"> K12 |  10 - 12 ετών </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Δευτέρα </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Τρίτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Τετάρτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Πέμπτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div> </div>
            </div>               
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Παρασκευή </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Σαββάτο </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div> </div>
            </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center rounded-b-xl  ">
                <div class="ml-[0.5vw]"> Κυριακή </div> <div> xx:xx </div> <div class="text-base"> (Αγώνας) </div>
            </div>
        </div>

        <div class="w-[30vw] bg-emerald-500 rounded-xl m-3">
            <div class="w-[30vw] text-2xl text-center font-semibold text-emerald-900 p-2"> K12 |  10 - 12 ετών </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Δευτέρα </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Τρίτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Τετάρτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Πέμπτη </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div> </div>
            </div>               
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Παρασκευή </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div>  </div>
            </div>
            <div class="w-[30vw] bg-zinc-100 text-2xl text-center font-semibold text-stone-400 p-2 flex flex-row justify-between items-center">
                <div class="ml-[0.5vw]"> Σαββάτο </div> <div class="flex flex-row justify-between items-center"> <div class="mr-[2vw]"> xx:xx - xx:xx </div> <div class="text-base"> (Προπόνηση) </div> </div>
            </div>
            <div class="w-[30vw] bg-zinc-300 text-2xl text-center font-semibold text-stone-600 p-2 flex flex-row justify-between items-center rounded-b-xl  ">
                <div class="ml-[0.5vw]"> Κυριακή </div> <div> xx:xx </div> <div class="text-base"> (Αγώνας) </div>
            </div>
        </div>

    </div>


</Layout>