<footer class="flex flex-row items-center mt-3 p-2">
    <div class="flex flex-col items-start">
        <p class="my-1"> <i class="fa-solid fa-phone"></i> 2392 303985 </p>
        <p class="my-1"> <i class="fa-solid fa-map-location-dot"></i> 28ης Οκτωβρίου 3, Πλαγιάρι 575 00 </p>
        <p class="my-1"> <i class="fa-solid fa-envelope"></i> atromitosplagiarioufc@gmail.com </p>
        <p class="my-1"> <i class="fa-brands fa-facebook"></i> Ατρόμητος Πλαγιαρίου F.C. </p>
    </div>
    <div class="flex flex-col items-center">
        <a class="my-1 inline-block relative border-b-2 border-[#b1b1f6] w-[6vw] text-center hover:after:w-full hover:after:bg-[#b1b1f6]"> Χορηγοί </a>
        <a class="my-1 inline-block relative border-b-2 border-[#b1b1f6] w-[6vw] text-center hover:after:w-full hover:after:bg-[#b1b1f6]"> Προπονητές </a>
        <a class="my-1 inline-block relative border-b-2 border-[#b1b1f6] w-[6vw] text-center hover:after:w-full hover:after:bg-[#b1b1f6]"> Εγγραφές </a>
        <a class="my-1 inline-block relative border-b-2 border-[#b1b1f6] w-[6vw] text-center hover:after:w-full hover:after:bg-[#b1b1f6]"> Κενό </a>
    </div>
</footer>

<style>
    a:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0%;
        background: transparent;
        transition: width 0.6s ease, background-color 0.6s ease;
    }
</style>