

<section class="bg-pitch w-[27vw] h-[75vh] relative ml-10       after:left-[13.4vw] after:h-[24.9vw] after:top-[11vh] after:absolute after:border-2 after:border-solid after:border-white after:rotate-90         before:border-2 before:border-white before:border-solid before:absolute before:top-[2vh] before:left-[1vw] before:block before:w-[25vw] before:h-[71vh]">
    <div class="field left">
        <div class="penalty-area after:right-[1vw] before:left-0 absolute border-2 border-solid border-white rotate-90 h-[9vw] w-[11vh] top-[-2vh] left-[11vw] before:border-2 before:border-white before:border-solid before:absolute before:top-[2vw] before:block before:w-[5vh] before:h-[5vw] after:absolute after:h-1 after:w-1 after:top-[9vh] after:bg-white after:rounded-full "> </div>
    </div>
    <div class="center-circle absolute w-16 h-16 block rounded-full border-2 border-solid border-white left-[11.5vw] top-[33vh]       after:left-[1.8vw] after:top-[3.45vh] after:h-[2px] after:w-[2px] after:absolute after:border-4 after:border-solid after:border-white after:rounded-full after:rotate-90"></div>
      <div class="home-team">
        <div class="player one    absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-goalkeeper-home-team                       after:content-['1']"></div>
        <div class="player two    absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['2'] after:flex after:flex-row after:items-center"> </div>
        <div class="player three  absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['3'] after:flex after:justify-center after:items-center"></div>
        <div class="player four   absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['4'] after:flex after:justify-center after:items-center"></div>
        <div class="player five   absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['5']"></div>
        <div class="player six    absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['6']"></div>
        <div class="player seven  absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['7']"></div>
        <div class="player eight  absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['8']"></div>
        <div class="player nine   absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['9']"></div>
        <div class="player ten    absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['10']"></div>
        <div class="player eleven absolute rounded-full w-6 h-6 after:absolute after:text-base after:left-[3px] bg-home-team flex justify-center items-center after:content-['11']"></div>
      </div>
      <div class="field right">
        <div class="penalty-area after:left-[1vw] absolute border-2 border-solid border-white rotate-90 h-[9.1vw] w-[11vh] top-[58vh] left-[11vw] before:border-2 before:border-white before:border-solid before:absolute before:top-[2vw] before:left-[5.5vh] before:block before:w-[5.1vh] before:h-[5vw] after:absolute after:h-1 after:w-1 after:top-[9vh] after:bg-white after:rounded-full">
        </div>
    </div>
</section> 

  <style>
    .home-team .player.one{
    bottom: 4%;
    left: 48%;
    }
    .home-team .player.two{
    bottom: 20%;
    left: 13%;
    }
    .home-team .player.three{
    bottom: 20%;
    left: 35%;
    }
    .home-team .player.four{
    bottom: 20%;
    left: 60%;
    }
    .home-team .player.five{
    bottom: 20%;
    left: 80%;
    }
    .home-team .player.six{
    bottom: 55%;
    left: 13%;
    }
    .home-team .player.seven{
    bottom: 55%;
    left: 35%;
    }
    .home-team .player.eight{
    bottom: 55%;
    left: 60%;
    }
    .home-team .player.nine{
    bottom: 55%;
    left: 80%;
    }
    .home-team .player.ten{
    bottom: 75%;
    left: 25%;
    }
    .home-team .player.eleven{
    bottom: 75%;
    left: 65%;
    }
    </style>