---
let {name, image} = Astro.props
---

<div class="w-[15vw] bg-lime-400 flex flex-row items-center py-2 px-3 rounded-lg">
    <img src={image} class="w-[5vw] rounded-full">
    <p class="ml-[0.5vw]"> {name} </p>
</div>